.portfolio-sidebar-list-wrapper {
    .portfolio-Item-thumb {
        padding: 21px;

        .portfolio-thumb-img img {
            width: 100%;
        }

        .title {
            color: $offwhite;
        }
    }
}